* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    align-self: center;
}

.big-para {
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
}

.basic-para {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.sec-basic-para {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

h1 {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
    align-self: center;
}

button {
    cursor: pointer;
}

.medium-para {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.small-para {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;  
}

.border-color {
    border: 1px solid #C7C7C7;
}

.purple {
    color: #7B62FF;
}

.gray {
    color: #929699;
}

.light-gray {
    color: #666;
}

.medium-black {
    color: #14171F;
}

::placeholder {
    color: #666;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    overflow: visible;
}

.light-black {
    color: #2F2F2F;
}

.white {
    color: #FFF;
}

/* starting from here */

.container {
    display: flex;
}

.side-bar, .side-bar-big-gap {
    display: inline-flex;
    flex-direction: column;
    gap: 48px;
    max-width: 296px;
    width: 100%;
    background: #14171F;
    flex-shrink: 0;
}

.padding {
    padding: 24px;
}

.website-logo {
    display: flex;
    gap: 12px;
    justify-content: center;
    padding: 0 16px 16px 16px;
    border-bottom: 1px solid #3D414B;
}

.user {
    padding: 12px 0;
    border-top: 1px solid #7D70BD;
    border-bottom: 1px solid #7D70BD;
    display: flex;
    justify-content: space-between;
}

.user-photo {
    display: flex;
    gap: 8px;
}

.user-specs {
    display: flex;
    flex-direction: column;
}

.side-bar-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 137px;
    width: 100%;
}

.side-bar-nav-content {
    display: flex;
    gap: 12px;
}

.side-bar-settings {
    max-width: 248px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-top: 1px solid #3D414B;
    border-bottom: 1px solid #3D414B;
}

.side-bar-settings-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side-bar-big-gap {
    display: flex;
    flex-direction: column;
    gap: 338px;
}

.button {
    display: flex;
    gap: 12px;
    padding: 12px 24px;
    border-radius: 8px;
    border: 1px solid #7B62FF;
    justify-content: center;
}

/* side bar ends here */

/* main container stats here */

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px 32px;
}

header, .header-container {
    max-width: 1080px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex-wrap: wrap;
}

.header-left-content {
    display: flex;
    gap: 24px;
}

.header-right-content {
    display: flex;
    gap: 10px;
}


.burger {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 600px;
    background: #f7f7f7;
    width: 32px;
    height: 32px;
    content: url(./images/burger-icon.svg);
    align-self: center;
}


.click-buttons {
    padding: 8px 12px;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #C7C7C7;
    background: #F7F7F7;
    color: #2F2F2F;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
}

main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 1080px;
    width: 100%;
    align-self: center;
}


/* background image */

.background-img {
    background-image: url(images/background-img.png);
    max-width: 1080px;
    width: 100%;
    height: 228px;
    flex-wrap: wrap;
}

.bck-img-para {
    padding: 66px 0 66px 40px;
    max-width: 456px;
    width: 100%;
}

/* background image end*/

.nav-list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.setting-buttons {
    padding: 8px 16px;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #C7C7C7;
}

.information-button {
    padding: 8px 16px;
    border-radius: 50px;
    border: 1px solid #3D414B;
    background: #14171F;    
}

.setting-buttons:hover {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid #3D414B;
    background: #14171F;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.middle-container {
    display: flex;
    gap: 32px;
    
}

.middle-top-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 702px;
    width: 100%;
    border: 1px solid #C7C7C7;
    padding: 24px 16px;
    border-radius: 16px;
}

.info-fill-container {
    display: flex;
    flex-direction: column;
}

.dots-icon {
    width: 32px;
    height: 32px;
    align-self: center;
}

.personal-info {
    display: flex;
    justify-content: space-between;
}

.personal-info-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.name-mail-container {
    display: flex;
    gap: 16px;
}

input:hover{
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #7B62FF;
    background: #E6E1FF;
    box-shadow: 0px 4px 4px 0px rgba(123, 98, 255, 0.25);
}    

.name-container, .mail-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.input-fill {
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #C7C7C7;
    background: #F9FBFC;    
}

.tell-place {
    display: flex;
    gap: 8px;
    
}

.number-reg {
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #C7C7C7;
    background: #14171F;
}


.fit {
    width: 100%;
}

.save-button {
    display: flex;
    align-self: flex-end;
    padding: 10px 24px;
    border-radius: 8px;
    background: #7F56D9;
    border: none;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    width: fit-content;    
}

.middle-left-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    flex-shrink: 1;
}

.middle-bottom-container {
    display: flex;
    gap: 24px;
}

.bottom-left-container-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 432px;
    width: 100%;
    border-radius: 16px;
    border: 1px solid #C7C7C7;
    padding: 24px 16px;
}

.personal-container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background: #F9FBFC;
}

.personal-container-info {
    display: flex;
    justify-content: space-between;
}

.left-personal-info {
    display: flex;
    gap: 12px;
    height: 76px;
}

.pencill {
    width: 32px;
    height: 32px;
}

.left-personal-info-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.additional-info-container {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: 1px solid #C7C7C7;
    width: 100%;
    gap: 16px;
}

.additional-info-container-header {
    display: flex;
    justify-content: space-between;
}

.for-self-align {
    align-self: center;
}

.resume {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.site-selector {
    display: flex;
    gap: 8px;
    overflow: visible;
}

.linkedin {
    display: flex;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #C7C7C7;    
    background: #F9FBFC;
    padding: 12px 16px;
    height: 49.8px;
    
}

.for-border {
    display: flex;
    padding: 12px 16px;
    flex: 1;
    border-radius: 8px;
    border: 1px solid #C7C7C7;
    background: #F9FBFC;    
}

.for-overflow {
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: visible;
}

select {
    border: none;
    color: #666;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    background: #F9FBFC;
}

.linkedin-option, .facebook-option, .github-option {
    max-width: 122px;
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #C7C7C7;
}

select:hover {
    background: #D2F0FF;
}

.middle-right-conteiner {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background: #14171f;
    padding: 16px;
    flex-grow: 1;
    gap: 12px;
}

.user-manual-container {
    border-radius: 12px;
    background: #FFF;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.user-manual-img {
    display: flex;
    justify-content: space-between;
}

.user-manual-icons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.user-name {
    align-self: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;    
}

.user-manual-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.student-freelancer {
    display: flex;
    gap: 16px;
}

.student-freelancer-buttons {
    padding: 8px 12px;
    border-radius: 50px;
    border: 1px solid #C7C7C7;
    flex: 1;
    text-align: center;
}

.location-container, .text-box-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    background-color: #fff;
    border-radius: 12px;
    width: 100%;
}

.location-with-icon, .text-box {
    display: flex;
    justify-content: space-between;
}

textarea {
    width: 100%;
    height: 168px;
    resize: none;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #C7C7C7;
}

textarea::placeholder {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    color: #666;
    line-height: 20px;
}

/* Tablet responsive */

@media screen and (max-width: 1280px) {
    .side-bar-big-gap {
        display: none;
    }

    .burger {
        display: flex;
    }
    .middle-top-container {
        flex-grow: 1;
        display: flex;
        max-width: none;
    }

    .middle-right-conteiner {
        flex-grow: 1;
        display: flex;
        max-width: none;
        flex-direction: column;
        
    }

    .middle-left-container {
        flex-grow: 1;
    }

    .middle-container {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

}

@media screen and (max-width: 640px) {

    .middle-bottom-container {
        flex-direction: column;
    }

    .additional-info-container {
        flex-grow: 1;
    }

    .input-fill {
        width: 99%;
        height: 48px;
    }
}

@media screen and (max-width: 481px){


    .middle-bottom-container {
        flex-direction: column;
    }

    .additional-info-container {
        flex-grow: 1;
    }

    .input-fill {
        width: 99%;
        height: 48px;
    }
}


@media screen and (max-width: 385px) {
.main-container {
    padding: 12px 16px;
}

    .header-right-content {
        align-items: center;
        gap: 8px;

    }

    .personal-container-info {
        flex-direction: column;
        gap: 24px;
    }

    .middle-bottom-container {
        flex-direction: column-reverse;
    }

    .middle-top-container, .name-mail-container {
        display: flex;
        gap: 16px;
        flex-direction: column;
    }

    .header-left-content {
        gap: 8px;
    }
    
    .header-container {
        flex-wrap: wrap;
        padding: 12px 16px;
        display: flex;
        gap: 12px;
        flex: 1;
    }

    .bck-img-para {
        color: #2F2F2F;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        text-align: center;
        padding: 82px 20px;
    }

    .basic-para {
        color: #2F2F2F;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .sec-basic-para {

    }

    .click-buttons {
        all: unset;
        font-size: 12px;
    }

    .middle-bottom-container {
        flex-direction: column-reverse;
    }


}
